body {
  background-color: #FFFEF5;
  font-family: "Roboto", Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  padding: 0% 10%;
}
h1 {
  font-family: Garamond, Georgia, serif;
  font-size: 2.5rem;
  font-weight: 700; 
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h1, h2, h3, p {
  margin: 0;
}

#hero-img {
  max-width: 40%;
  height: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.projects { 
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items:start;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  gap: 1.5rem;
  justify-content: center;
  padding: 20px
  
}
.nav-links a {
  color: black;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.phone-img {
  max-width: 15%;
  height: auto;
}

.project-card {
   display: flex; 
   width: 80%;
   background-color: #FFFEF5;
   padding: 20px;
   gap: 20px;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.project-info p {
  color:grey
}

.project-info a {
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid black;
  width: fit-content;
}

.project-info a:hover {
  background-color: #e8e6d6;
}

.project-info a:active {
  background-color: #cac8b7;
}

footer {
    padding-bottom: 5%;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 1.5rem;
}

tr {
    border-bottom: 1px solid #dddddd;
    padding: 10%;
}

td {
    padding: 5%;
    text-align: left;
    border-bottom: 1px solid #eee;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshot {
  max-width: 30%;
  height: auto;
  border-radius: 5%;
}

#olivia-info {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

