body {
  background-color: #FFFEF5
}

img {
  max-width: 50%;
  height: auto;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  gap: 1.5rem;
  justify-content: center;
}